*{
    margin: 0;
    padding: 0;
}

body{
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
header{
    color: orange;
    display: flex;
  flex-direction:row ;
  align-items: center;
  justify-content: space-evenly;
  
  
}
.x{
    color: rgb(118,167,52);
    font-size: 20px;
}

h1{
    color:orangered;
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
}
.container{
    border: 1px solid black;
    height: 50vh;
    width: 50wh;
    display: flex;
    flex-direction: row;

}
.b{
    border:1px solid green;
margin-right: auto;
padding-left: 70%;
    
}
.a{
    border:1px  solid red;
    
}